<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Cadastrar Editora</title>
    <link rel = "stylesheet" href = "styles.css">
</head>

<body>
    <div class = "content">
        <h1>Cadastrar Editora</h1>
        <form class="forms">
            <div class = "input-group">
                <label for = "nomeEditora" >Nome</label>
                <input type = "text" class="inputs" id = "nome" required/>
            </div>
    
            <div class = "input-group">
                <label for = "cidadeEditora" >Cidade</label>
                <input type = "text" class="inputs" id = "cidade" required/>
            </div>
            <div class = "input-group">
                <label for = "cepEditora">CEP</label>
                <input type = "text" class="inputs" id = "cep"/>
            </div>

            <div class = "input-group">
                <label for = "paisEditora">País</label>
                <input type = "text" class="inputs" id = "pais" required/>
            </div>
            <div class = "input-group">
                <label for = "rua">Rua</label>
                <input type = "text" class="inputs" id = "rua" required/>
            </div>

            <div class = "input-group">
                <label for = "numero">Número</label>
                <input type = "text" class="inputs" id = "numero" required/>
            </div>

            <div class = "input-group">
                <label for = "bairro-editora" >Bairro</label>
                <input type = "text" class="inputs" id = "bairro" required/>
            </div>

            <div>
                
            </div>
            <button id = "cadastrar" class="button" type = "submit">Cadastrar</button>
        </form>

    </div>
    
    <nav class = "barra-lateral">
    
        <h2 class = "menu" >Menu</h2>
        <ul>
            
            <li><a href = "cadastrarLivro.html">Cadastrar Livro</a></li>
            <li><a href = "cadastrarAutor.html">Cadastrar Autor</a></li>
            <li ><a href = "cadastrarEditora.html">Cadastrar Editora</a></li>
            <li><a href="cadastrarEmprestimo.html">Cadastrar Empréstimo</a></li>
            <li><a href="cadastrarCliente.html">Cadastrar Cliente</a></li>
            <li><a href = "listarLivros.html">Todos os Livros</a></li>
            <li><a href = "listarAutores.html">Todos os Autores</a></li>
            <li><a href = "listarEditoras.html">Todas as Editoras</a></li>
            <li><a href = "listarEmprestimos.html">Todos os Empréstimos</a></li>

        </ul>
        </div class = "btn-sair">
            <a href = "login.html" class="btn-sair">Sair</a>
        </div>
    </nav>

    <script>
        var botaoCadastro = document.getElementById("cadastrar")

        botaoCadastro.addEventListener("click", function(){
            event.preventDefault();
            const dadosEditora = {
                nome: document.getElementById("nome").value,
                cidade: document.getElementById("cidade").value,
                pais: document.getElementById("pais").value,
                cep: document.getElementById("cep").value,
                rua: document.getElementById("rua").value,
                numero: document.getElementById("numero").value,
                bairro: document.getElementById("bairro").value
            };
            if(dadosEditora.nome == "" || dadosEditora.cidade == "" || dadosEditora.pais == "" || dadosEditora.cep == "" ||dadosEditora.rua == "" 
                || dadosEditora.numero == "" || dadosEditora.bairro == ""){
                    alert("Preencha todos os campos!")
                } else{
                    try{
                        fetch("http://localhost:8080/editora/cadastrar",{
                            method: 'POST',
                            headers:{
                            "Content-Type":"application/json"
                            },
                            body: JSON.stringify(dadosEditora)
                        }).then(async res => {
                            if(res.ok){
                                alert("Editora cadastrada com sucesso!")
                            } else{
                                const erroData = await res.json();
                                erroData.errors.forEach(element => {
                                    throw new Error(element.defaultMessage)
                                });
                            }
                        }).catch(error => {
                            alert(error.message);
                        });
                    } catch(error){
                        alert(error);
                    }
                }

        });
        
    </script>
</body>
</html>