<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Cadastrar Livro</title>
    <link rel = "stylesheet" href = "styles.css">
</head>

<body>
    <div class = content>
        <h1>Cadastrar Livro</h1>
        <form class="forms">
            <div class = "input-group">
                <label for = "titulo" >Título</label>
                <input type = "text" class="inputs" id = "titulo" required/>
            </div>
    
            <div class = "input-group">
                <label>Ano</label>
                <input type = "text" class="inputs" id = "ano" required/>
            </div>
            <!-- <div class = "input-group">
                <label>Autor</label>
                <input type = "text" class="inputs" id = "autor" required/>
            </div> -->
            <div class = "input-group">
                <label>Autor</label>
                <select class="opcoes1" id="autor">
                    <option value="">Selecione um autor</option>
                </select>
            </div>

            <div class = "input-group">
                <label>ISBN</label>
                <input type = "text" class="inputs" id = "isbn"/>
            </div>
            <!-- <div class = "input-group">
                <label>Editora</label>
                <input type = "text" class="inputs" />
            </div> -->
            <div class = "input-group">
                <label>Editora</label>
                <select class="opcoes1" id="editora">
                    <option value="">Selecione uma Editora</option>
                </select>
            </div>
            <div class = "input-group">
                <label>Edição</label>
                <input type = "text" class="inputs" id = "edicao" required/>
            </div>
            <div class = "input-group">
                <label>Observações</label>
                <textarea id = "obs" class="inputs" placeholder="Página rasgada, lombada danificada..."></textarea>
            </div>

            <div class = "input-group">
                <label>Estado</label>
                <select class = "opcoes" id = "estado">
                    <option value="NOVO">Novo</option>
                    <option value="BOM">Bom</option>
                    <option value="DANIFICADO">Danificado</option>
                </select>
            </div>
        
            <button id="cadastrar" class="button">Cadastrar</button>
        </form>

    </div>
    
    <nav class = "barra-lateral">
    
        <h2 class = "menu" >Menu</h2>
        <ul>
            <li><a href = "cadastrarLivro.html">Cadastrar Livro</a></li>
            <li><a href = "cadastrarAutor.html">Cadastrar Autor</a></li>
            <li ><a href = "cadastrarEditora.html">Cadastrar Editora</a></li>
            <li><a href="cadastrarEmprestimo.html">Cadastrar Empréstimo</a></li>
            <li><a href="cadastrarCliente.html">Cadastrar Cliente</a></li>
            <li><a href = "listarLivros.html">Todos os Livros</a></li>
            <li><a href = "listarAutores.html">Todos os Autores</a></li>
            <li><a href = "listarEditoras.html">Todas as Editoras</a></li>
            <li><a href = "listarEmprestimos.html">Todos os Empréstimos</a></li>
    
        </ul>
        </div class = "btn-sair">
            <a href = "login.html" class="btn-sair">Sair</a>
        </div>
    </nav>


<script>
    document.addEventListener("DOMContentLoaded", function(){
        fetch("http://localhost:8080/autor/lista-autores")
        .then(res => res.json())
        .then(data => {
            let dropdown = document.getElementById("autor");

            data.forEach(autor => {
                let option = document.createElement("option");
                option.value = autor.id;
                option.textContent = `${autor.id} - ${autor.nome}`;
                dropdown.appendChild(option);
            })
        })
    })

    document.addEventListener("DOMContentLoaded", function(){
        fetch("http://localhost:8080/editora/lista-editoras")
        .then(res => res.json())
        .then((data) => {

            let dropdown = document.getElementById("editora");

            data.forEach(editora => {
                let option = document.createElement("option");
                option.value = editora.id;
                option.textContent = `${editora.id} - ${editora.nome}`;
                dropdown.appendChild(option);
            })
        })
        .catch(error => console.error("Erro ao carregar as editoras: ", error));
    })

    var botaoCadastro = document.getElementById("cadastrar");
    console.log(botaoCadastro)
    
    botaoCadastro.addEventListener("click", function() {
        event.preventDefault(); //impede que a pagina recarregue automaticamente depois de realizar o cadastro
        const dadosLivro = {
            titulo: document.getElementById('titulo').value,
            anoPublicacao: document.getElementById('ano').value,
            isbn: document.getElementById('isbn').value,
            autor: {id: parseInt(document.getElementById("autor").value)},
            editora: {id: parseInt(document.getElementById("editora").value)},
            obs: document.getElementById('obs').value,
            edicao: document.getElementById('edicao').value,
            estadoCons: document.getElementById('estado').value,
            
        };
        
        if(dadosLivro.titulo == "" || dadosLivro.autor == "" || dadosLivro.editora == "" || dadosLivro.isbn == "" || dadosLivro.edicao == "" || dadosLivro.estadoCons == ""){
            alert("Preencha todos os campos!");
        } else {
            try{
                fetch("http://localhost:8080/livro/cadastrar-livro", {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(dadosLivro) //converte os dados para json
                }).then(async res => {
                    if(res.ok){
                        alert("Livro cadastrado com sucesso!")
                    } else{
                        const errorData = await res.json();
                        errorData.errors.forEach(element => {
                            throw new Error(element.defaultMessage)
                        });
                    }
                }).catch(error => {
                    alert(error.message);
            });
                } catch (error) {
                    alert(error);
                }
        }

        // fetch("http://localhost:8080/livro/cadastrar-livro", {
        //     method: "POST",
        //     headers: {
        //     "Content-Type": "application/json"
        //     },
        //     body: JSON.stringify(dadosLivro)
        // })
        // .then(response => {
        //     if (!response.ok) {
        //         throw new Error("Erro ao cadastrar livro");
        //     }
        //     return response.json();
        // })
        // .then(data => {
        //     console.log("Livro cadastrado com sucesso:", data);
        //     return alert("Livro cadastrado com sucesso!");
        // })
        // .catch(error => {
        //     console.error("Erro:", error);
        // });
       
    });

    // botaoCadastro.addEventListener("click", function() {
    //     const dadosEditora = {
    //         nome: "Editora Livros & Cia",
    //         rua: "Rua das Letras",
    //         numero: 123,
    //         cidade: "São Paulo",
    //         pais: "Brasil",
    //         cep: "01311-000",
    //         bairro: "Bela Vista",
    //         livrosCad: 250
    //     };

    //     fetch("http://localhost:8080/editora/cadastrar", {
    //         method: "POST",
    //         headers: {
    //         "Content-Type": "application/json"
    //         },
    //         body: JSON.stringify(dadosEditora)
    //     })
    //     .then(response => {
    //         if (!response.ok) {
    //         throw new Error("Erro ao cadastrar editora");
    //         }
    //         return response.json();
    //     })
    //     .then(data => {
    //         console.log("Editora cadastrada com sucesso:", data);
    //     })
    //     .catch(error => {
    //         console.error("Erro:", error);
    //     });
       
    // });
    
</script>
</body>
</html>

