<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Cadastrar Empréstimo</title>
    <link rel = "stylesheet" href = "styles.css">
</head>

<body>
    <div class = content>
        <h1>Cadastrar Empréstimo</h1>
        <form class="forms">
            <div class = "input-group">
                <label>Livro</label>
                <select class="opcoes1" id="livro">
                    <option value="">Selecione um livro</option>
                </select>
            </div>

            <div class = "input-group">
                <label>Cliente</label>
                <select class="opcoes1" id="cliente">
                    <option value="">Selecione um cliente</option>
                </select>
            </div>
            <div class = "input-group">
                <label>Data de Empréstimo</label>
                <input type = "date" class="inputs" id = "dataEmp" required/>
            </div>

            <div class = "input-group">
                <label>Data de Devolução</label>
                <input type = "date" class="inputs" id = "dataDev" required/>
            </div>
        
            <button id="cadastrar" class="button">Cadastrar</button>
        </form>

    </div>
    
    <nav class = "barra-lateral">
    
        <h2 class = "menu" >Menu</h2>
        <ul>
            <li><a href = "cadastrarLivro.html">Cadastrar Livro</a></li>
            <li><a href = "cadastrarAutor.html">Cadastrar Autor</a></li>
            <li ><a href = "cadastrarEditora.html">Cadastrar Editora</a></li>
            <li><a href="cadastrarEmprestimo.html">Cadastrar Empréstimo</a></li>
            <li><a href = "listarLivros.html">Todos os Livros</a></li>
            <li><a href = "listarAutores.html">Todos os Autores</a></li>
            <li><a href = "listarEditoras.html">Todas as Editoras</a></li>
            <li><a href = "listarEmprestimos.html">Todos os Empréstimos</a></li>
    
        </ul>
        </div class = "btn-sair">
            <a href = "login.html" class="btn-sair">Sair</a>
        </div>
    </nav>


<script>
    document.addEventListener("DOMContentLoaded", function(){
        fetch("http://localhost:8080/livro/lista-livros")
        .then(res => res.json())
        .then(data => {
            let dropdown = document.getElementById("livro");

            data.forEach(livro => {
                let option = document.createElement("option");
                option.value = livro.id;
                option.textContent = `${livro.titulo}`;
                dropdown.appendChild(option);
            })
        })
    })

    document.addEventListener("DOMContentLoaded", function(){
        fetch("http://localhost:8080/cliente/lista-clientes")
        .then(res => res.json())
        .then((data) => {

            let dropdown = document.getElementById("cliente");

            data.forEach(cliente => {
                let option = document.createElement("option");
                option.value = cliente.id;
                option.textContent = `${cliente.nome}`;
                dropdown.appendChild(option);
            })
        })
        .catch(error => console.error("Erro ao carregar os clientes: ", error));
    })

    var botaoCadastro = document.getElementById("cadastrar");
    console.log(botaoCadastro)
    
    botaoCadastro.addEventListener("click", function() {
        event.preventDefault(); //impede que a pagina recarregue automaticamente depois de realizar o cadastro
        const dadosEmp = {
            livro: {id: parseInt(document.getElementById("livro").value)},
            cliente: document.getElementById("cliente").value,
            dataEmp: document.getElementById('dataEmp').value,
            dataDev: document.getElementById('dataDev').value
            
        };
        
        if(dadosEmp.livro == "" || dadosEmp.cliente == "" || dadosEmp.dataDev == "" || dadosEmp.dataEmp == "" ){
            alert("Preencha todos os campos!");
        } else {
            try{
                fetch("http://localhost:8080/emprestimo/cadastrar", {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(dadosEmp) //converte os dados para json
                }).then(async res => {
                    if(res.ok){
                        alert("Empréstimo cadastrado com sucesso!")
                    } else{
                        const errorData = await res.json();
                        errorData.errors.forEach(element => {
                            throw new Error(element.defaultMesage)
                        });
                    }
                }).catch(error => {
                    alert(error.message);
            });
                } catch (error) {
                    alert(error);
                }
        }

        // fetch("http://localhost:8080/livro/cadastrar-livro", {
        //     method: "POST",
        //     headers: {
        //     "Content-Type": "application/json"
        //     },
        //     body: JSON.stringify(dadosLivro)
        // })
        // .then(response => {
        //     if (!response.ok) {
        //         throw new Error("Erro ao cadastrar livro");
        //     }
        //     return response.json();
        // })
        // .then(data => {
        //     console.log("Livro cadastrado com sucesso:", data);
        //     return alert("Livro cadastrado com sucesso!");
        // })
        // .catch(error => {
        //     console.error("Erro:", error);
        // });
       
    });

    // botaoCadastro.addEventListener("click", function() {
    //     const dadosEditora = {
    //         nome: "Editora Livros & Cia",
    //         rua: "Rua das Letras",
    //         numero: 123,
    //         cidade: "São Paulo",
    //         pais: "Brasil",
    //         cep: "01311-000",
    //         bairro: "Bela Vista",
    //         livrosCad: 250
    //     };

    //     fetch("http://localhost:8080/editora/cadastrar", {
    //         method: "POST",
    //         headers: {
    //         "Content-Type": "application/json"
    //         },
    //         body: JSON.stringify(dadosEditora)
    //     })
    //     .then(response => {
    //         if (!response.ok) {
    //         throw new Error("Erro ao cadastrar editora");
    //         }
    //         return response.json();
    //     })
    //     .then(data => {
    //         console.log("Editora cadastrada com sucesso:", data);
    //     })
    //     .catch(error => {
    //         console.error("Erro:", error);
    //     });
       
    // });
    
</script>
</body>
</html>

