<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Editar Emprestimo</title>
    <link rel = "stylesheet" href = "styles.css">
</head>

<body>
    <div class = content>
        <h1>Editar Emprestimo</h1>
        <form class="forms">
            <div class = "input-group">
                <label>Livro</label>
                <select class="opcoes1" id="livro">
                    <option value="">Selecione um livro</option>
                </select>
            </div>

            <div class = "input-group">
                <label>Cliente</label>
                <select class="opcoes1" id="cliente">
                    <option value="">Selecione um cliente</option>

                </select>
            </div>
            <div class = "input-group">
                <label>Data de Empréstimo</label>
                <input type = "date" class="inputs" id = "dataEmp" required/>
            </div>

            <div class = "input-group">
                <label>Data de Devolução</label>
                <input type = "date" class="inputs" id = "dataDev" required/>
            </div>

            <div class="input-group"> 
                <label>Status do Empréstimo</label>
                <select class="opcoes1" id = "status">
                    <option value="PENDENTE">Pendente</option>
                    <option value="ATRASADO">Atrasado</option>
                    <option value="DEVOLVIDO">Devolvido</option>
                </select>
            </div>
        </form>
        <button class="btnEditarLivro" id="editar">Salvar alterações</button>

    </div>
    
    <nav class = "barra-lateral">
    
        <h2 class = "menu" >Menu</h2>
        <ul>
            <li><a href = "cadastrarLivro.html">Cadastrar Livro</a></li>
            <li><a href = "cadastrarAutor.html">Cadastrar Autor</a></li>
            <li ><a href = "cadastrarEditora.html">Cadastrar Editora</a></li>
            <li><a href="cadastrarEmprestimo.html">Cadastrar Empréstimo</a></li>
            <li><a href="cadastrarCliente.html">Cadastrar Cliente</a></li>
            <li><a href = "listarLivros.html">Todos os Livros</a></li>
            <li><a href = "listarAutores.html">Todos os Autores</a></li>
            <li><a href = "listarEditoras.html">Todas as Editoras</a></li>
            <li><a href = "listarEmprestimos.html">Todos os Empréstimos</a></li>
            
        </ul>
        </div class = "btn-sair">
            <a href = "login.html" class="btn-sair">Sair</a>
        </div>
    </nav>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        const livrosPromise = fetch("http://localhost:8080/livro/lista-livros")
        .then(res => res.json())
        .then(data => {
            let dropdown = document.getElementById("livro");

            data.forEach(livro => {
                let option = document.createElement("option");
                option.value = livro.id;
                option.textContent = `${livro.titulo}`;
                dropdown.appendChild(option);
            })
            carregarDados();
        })

        const clientePromise = fetch(`http://localhost:8080/cliente/lista-clientes`)
        .then(res => res.json())
        .then(data => {
            let dropdown = document.getElementById("cliente")

            data.forEach(cliente => {
                let option = document.createElement("option");
                option.value = cliente.id;
                option.textContent = `${cliente.nome}`;
                dropdown.appendChild(option);
            })

            carregarDados();
        })
        
        Promise.all([livrosPromise, clientePromise])
        .then(() => carregarDados())
        .catch(error => console.error("Erro ao carregar: ", error));
    })

    function carregarDados() {
        const params = new URLSearchParams(window.location.search);
        const emprestimoId = params.get("id");

        if (!emprestimoId) return;

        fetch(`http://localhost:8080/emprestimo/busca-emprestimo/${emprestimoId}`)
        .then((res) => res.json())
        .then((data) => {
            document.getElementById("livro").value = data.livro.id;
            document.getElementById("cliente").value = data.cliente.id;
            document.getElementById("dataEmp").value = data.dataEmp;
            document.getElementById("dataDev").value = data.dataDev;
            document.getAnimations("status").value = data.status;

            console.log("dados emprestimo:", data);
        })
    }

    const params = new URLSearchParams(window.location.search);
    const emprestimoId = params.get("id");

    document.getElementById("editar").addEventListener("click", () =>{
        const emprestimoEditado = {
            dataEmp: document.getElementById("dataEmp").value,
            dataDev: document.getElementById("dataDev").value,
            livro: {id: parseInt(document.getElementById("livro").value)},
            cliente: {id: parseInt(document.getElementById("cliente").value)},
            status: document.getElementById("status").value,
    

        }
        if(emprestimoEditado.livro == "" || emprestimoEditado.cliente == "" || emprestimoEditado.dataDev == "" || emprestimoEditado.dataEmp == "" ){
            alert("Preencha todos os campos!");
        } else{
            try{
                fetch(`http://localhost:8080/emprestimo/editar/${emprestimoId}`, {
                    method: 'PUT',
                    headers:{
                        "Content-Type":"application/json"
                    },
                    body: JSON.stringify(emprestimoEditado)
                }).then(async res => {
                    console.log(emprestimoEditado);
                    if(res.ok){
                        alert("Emprestimo editado com sucesso!")
                        window.location.href = "listarEmprestimos.html";
                    } else{
                        const errorData = await r.json();
            errorData.errors.forEach(element => {
              throw new Error(element.defaultMessage);
            }); 
          }
        }).catch(error => {
        alert(error.message);
    });         
        } catch (error) {
          alert(error);
        }

      

    }})
</script>
</html>

