<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Cadastrar Livro</title>
    <link rel = "stylesheet" href = "styles.css">
</head>

<body>
    <div class = content>
        <h1>Emprestar Livro</h1>
        <form class="forms">
            <div class = "input-group">
                <label for = "titulo" >Título</label>
                <input type = "text" class="inputs" id = "titulo" required/>
            </div>
    
            <div class = "input-group">
                <label>Código do livro a ser emprestado</label>
                <input type = "number" class="inputs" id = "codigo" required/>
            </div>
            <div class = "input-group">
                <label>Nome do Aluno</label>
                <input type = "text" class="inputs" id = "aluno" required/>
            </div>
            <div class = "input-group">
                <label>Email</label>
                <input type = "email" class="inputs" id = "emailAluno"/>
            </div>
            <div class = "input-group">
                <label>Telefone</label>
                <input type = "text" class="inputs" required/>
    
            </div>
            <div class = "input-group">
                <label for = "cpf">CPF</label>
                <input type = "text" class="inputs" id = "cpf" required/>
            </div>
            <div class = "input-group">
                <label>Data de Empréstimo</label>
                <input  type="date" id = "dataEmprestimo" class="inputs">
            </div>

            <div class = "input-group">
                <label>Data de Devolução</label>
                <input type = "date"  id = "dataDevolucao" class="inputs">
            </div>
        </form>

        <button class="btnEditarLivro">Confirmar Empréstimo</button>

    </div>
    
    <nav class = "barra-lateral">
    
        <h2 class = "menu" >Menu</h2>
        <ul>
            <li><a href = "cadastrarLivro.html">Cadastrar Livro</a></li>
            <li><a href = "cadastrarAutor.html">Cadastrar Autor</a></li>
            <li ><a href = "cadastrarEditora.html">Cadastrar Editora</a></li>
            <li><a href = "listarLivros.html">Todos os Livros</a></li>
            <li><a href = "listarAutores.html">Todos os Autores</a></li>
            <li><a href = "listarEditoras.html">Todas as Editoras</a></li>
            <li><a href = "listarEmprestimos.html">Todos os Empréstimos</a></li>

        </ul>

        </div class = "btn-sair">
            <a href = "login.html" class="btn-sair">Sair</a>
        </div>
    </nav>
</body>
</html>

