<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Todos os Empréstimos</title>
    <link rel = "stylesheet" href = "styles.css">
</head>

<body>
    <div class = "content">
        <h1>Todos os Empréstimos</h1>
        <div class = "searchbar">
            <input type="text" class="input-searchbar" id = "pesquisar" placeholder="Pesquisar livro..."/>
            <button type="submit" class="btn-search">Pesquisar</button>

            <!-- <a  href = "livrosEmprestados.html" >
                <button type="submit" class="btn-search">Ver livros emprestados</button>
            </a> -->
        </div>

        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Título</th>
                    <th>Aluno</th>
                    <th>Data Empréstimo</th>
                    <th>Data Devolução</th>
                    <th>Status</th> <!-- Pendente/devolvido/atrasado -->
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id = "emprestimos">
                <!-- Exemplo de linha de livro -->
                <tr>
                    <td>0</td>
                    <td>O Senhor dos Anéis</td>
                    <td>Isabela Oliveira de Castro</td>
                    <td>10/03/2025</td>
                    <td>30/03/2025</td>
                    <td>
                        <select class = "opcoes">
                            <option>Pendente</option>
                            <option>Devolvido</option>
                            <option>Atrasado</option>
                        </select>
                    <td>
                        <!-- <a href="detalhesEmprestimo.html">
                            <button class="btnAcoes">Detalhes</button>
                        </a>
                        <a href="editarEmprestimo.html">
                            <button class="btnAcoes">Editar</button>
                        </a> -->
                        <button class="btnAcoes">Detalhes</button>
                        <button class="btnAcoes">Editar</button>
                        <button class="btnAcoes">Excluir</button>
                    </td>
                </tr>
                <!-- Adicione mais linhas conforme necessário -->
            </tbody>

    </div>
    
    <nav class = "barra-lateral">
    
        <h2 class = "menu" >Menu</h2>
        <ul>
            <li><a href = "cadastrarLivro.html">Cadastrar Livro</a></li>
            <li><a href = "cadastrarAutor.html">Cadastrar Autor</a></li>
            <li ><a href = "cadastrarEditora.html">Cadastrar Editora</a></li>
            <li><a href = "listarLivros.html">Todos os Livros</a></li>
            <li><a href = "listarAutores.html">Todos os Autores</a></li>
            <li><a href = "listarEditoras.html">Todas as Editoras</a></li>
            <li><a href = "listarEmprestimos.html">Todos os Empréstimos</a></li>
            
        </ul>
        </div class = "btn-sair">
            <a href = "login.html" class="btn-sair">Sair</a>
        </div>
    </nav>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            fetch('http://localhost:8080/emprestimo/lista-emprestimos')
            .then(response => response.json())
            .then((data) => {
                console.log(data);
                let listaEmprestimos = document.getElementById("emprestimos")

                data.forEach( (emprestimo) => {
                    const tr = document.createElement("tr");
                    tr.value = emprestimo.id;
                    tr.innerHTML = `
                    <td> ${emprestimo.id} </td>
                    <td> ${emprestimo.livro.titulo|| '-'} </td>
                    <td> ${emprestimo.cliente.nome|| '-'} </td>
                    <td> ${emprestimo.dataEmp|| '-'} </td>
                    <td> ${emprestimo.dataDev|| '-'} </td>
                    <td> ${emprestimo.status|| '-'} </td>
                    <a href="editarAutor.html">
                            <button class="btnAcoes">Editar</button>
                    </a>
                    <button class="btnExcluir" value= "${emprestimo.id}">Excluir</button></td>
                `;
                    listaEmprestimos.appendChild(tr);

                });
            });
        });
    </script>
</body>
</html>