<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os Livros</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="content">
        <h1>Todos os Livros</h1>
        <div class="searchbar">
            <input type="text" class="input-searchbar" id="pesquisar" placeholder="Pesquisar livro..." />
            <button type="submit" class="btn-search">Pesquisar</button>

            <!-- <a  href = "livrosEmprestados.html" >
                <button type="submit" class="btn-search">Ver livros emprestados</button>
            </a> -->
        </div>

        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Editora</th>
                    <th>Ano de Publicação</th>
                    <th>Edição</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="livros">
                <!-- Exemplo de linha de livro -->
                <tr>
                    <td>0</td>
                    <td>O Senhor dos Anéis</td>
                    <td>J.R.R. Tolkien</td>
                    <td>HarperCollins</td>
                    <td>1954</td>
                    <td>1ª</td>
                    <td>Disponível</td>
                    <td>
                        <a href="detalhesLivros.html">
                            <button class="btnAcoes">Detalhes</button>
                        </a>
                        <a href="editarLivro.html">
                            <button class="btnAcoes">Editar</button>
                        </a>
                        <button class="btnAcoes">Excluir</button>
                    </td>
                </tr>

                <!-- Adicione mais linhas conforme necessário -->
            </tbody>

    </div>

    <nav class="barra-lateral">

        <h2 class="menu">Menu</h2>
        <ul>
            <li><a href="cadastrarLivro.html">Cadastrar Livro</a></li>
            <li><a href="cadastrarAutor.html">Cadastrar Autor</a></li>
            <li><a href="cadastrarEditora.html">Cadastrar Editora</a></li>
            <li><a href="listarLivros.html">Todos os Livros</a></li>
            <li><a href="listarAutores.html">Todos os Autores</a></li>
            <li><a href="listarEditoras.html">Todas as Editoras</a></li>
            <li><a href="listarEmprestimos.html">Todos os Empréstimos</a></li>

        </ul>
        </div class="btn-sair">
        <a href="login.html" class="btn-sair">Sair</a>
        </div>
    </nav>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            fetch('http://localhost:8080/livro/lista-livros')
            .then(response => response.json())
            .then((data) => {
                console.log(data);
                let listaLivros = document.getElementById("livros")

                data.forEach((livro) => {
                    const tr = document.createElement("tr");
                    tr.value = livro.id;
                    tr.innerHTML = `
                    <td>${livro.id} </td>
                    <td>${livro.titulo} </td>
                    <td>${livro.autor.nome} </td>
                    <td>${livro.editora.nome} </td>
                    <td>${livro.anoPublicacao} </td>
                    <td>${livro.edicao} </td>
                    <td>${livro.status} </td>
                    <td>
                    <a href="detalhesLivros.html">
                            <button class="btnAcoes">Detalhes</button>
                    </a>
                    <a href="editarAutor.html">
                            <button class="btnAcoes">Editar</button>
                    </a>
                    <button id = "btnExcluir" class="btnAcoes" value= "${livro.id}">Excluir</button></td>
                `;
                        listaLivros.appendChild(tr);            
                });
            });
        });
        // document.addEventListener("DOMContentLoaded", function () {
        //     fetch('http://localhost:8080/livro/lista-livros')
        //         .then(response => response.json())
        //         .then(data => {
        //             console.log(data);
        //             var livros = document.getElementById("livros");

        //             const livro = document.createElement("tr");

        //             const titulo = document.createElement("td");
        //             titulo.textContent = data[0].titulo;

        //             const autorNome = document.createElement("td");
        //             autorNome.textContent = data[0].autor.nome;

        //             const anoPublicacao = document.createElement("td");
        //             anoPublicacao.textContent = data[0].anoPublicacao;

        //             livro.appendChild(autorNome);
        //             livro.appendChild(anoPublicacao);

        //             livros.appendChild(livro);
        //         })
        //         .catch(error => {
        //             console.error("Erro na requisição:", error);

        //         });
        // });
    </script>
</body>

</html>