<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os Livros</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class = "background">
        <div class="content">
            <h1>Todos os Livros</h1>
            <div class="searchbar">
                <input type="text" class="input-searchbar" id="pesquisar" placeholder="Pesquisar livro..." />
                <button type="submit" class="btn-search">Pesquisar</button>

                <!-- <a  href = "livrosEmprestados.html" >
                    <button type="submit" class="btn-search">Ver livros emprestados</button>
                </a> -->
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Editora</th>
                        <th>Ano de Publicação</th>
                        <th>Edição</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="livros">
                    <!-- Exemplo de linha de livro -->
                    <tr>
                        <td>0</td>
                        <td>O Senhor dos Anéis</td>
                        <td>J.R.R. Tolkien</td>
                        <td>HarperCollins</td>
                        <td>1954</td>
                        <td>1ª</td>
                        <td>Disponível</td>
                        <td>
                            <a href="detalhesLivros.html">
                                <button class="btnAcoes">Detalhes</button>
                            </a>
                            <a href="editarLivro.html">
                                <button class="btnAcoes">Editar</button>
                            </a>
                            <button class="btnAcoes">Excluir</button>
                        </td>
                    </tr>

                    <!-- Adicione mais linhas conforme necessário -->
                </tbody>
        </div>
        <div class="modal" id = "modal">
            <div class="modalContent">
                <span id="close" class="closeModal">&times;</span>
                <h2 class="tituloModal" >Detalhes do Livro</h2>
                <p><strong>Título:</strong> <span id = "tituloModal"> </span></p>
                <p><strong>Autor:</strong> <span  id = "autorModal"> </span></p>
                <p><strong>Editora:</strong> <span id = "editoraModal"></span></p>
                <p><strong>Estado de Conservação:</strong> <span id = "estadoConsModal"></span></p>
                <p><strong>Ano de Publicação:</strong> <span id = "anoModal"></span></p>
                <p><strong>ISBN:</strong> <span id = "isbnModal"></span></p>
                <p><strong>Edição:</strong> <span id = "edicaoModal"></span></p>
                <p><strong>Status:</strong> <span id = "statusModal"></span></p>
                <p><strong>Observações:</strong> <span id = "obsModal"></span></p>
    
                <!-- <button class="buttonModal"> Voltar </button> -->
            </div>
        </div>

    </div>

    <nav class="barra-lateral">

        <h2 class="menu">Menu</h2>
        <ul>
            <li><a href = "cadastrarLivro.html">Cadastrar Livro</a></li>
            <li><a href = "cadastrarAutor.html">Cadastrar Autor</a></li>
            <li ><a href = "cadastrarEditora.html">Cadastrar Editora</a></li>
            <li><a href="cadastrarEmprestimo.html">Cadastrar Empréstimo</a></li>
            <li><a href="cadastrarCliente.html">Cadastrar Cliente</a></li>
            <li><a href = "listarLivros.html">Todos os Livros</a></li>
            <li><a href = "listarAutores.html">Todos os Autores</a></li>
            <li><a href = "listarEditoras.html">Todas as Editoras</a></li>
            <li><a href = "listarEmprestimos.html">Todos os Empréstimos</a></li>

        </ul>
        </div class="btn-sair">
        <a href="login.html" class="btn-sair">Sair</a>
        </div>
    </nav>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            const modal = document.getElementById("modal");
            const openModal = document.getElementById("detalhes");
            const closeModal = document.getElementById("close");
            
            fetch('http://localhost:8080/livro/lista-livros')
            .then(response => response.json())
            .then((data) => {
                console.log("resposta recebida:", data);
                let listaLivros = document.getElementById("livros")

                data.forEach((livro) => {
                    const tr = document.createElement("tr");
                    tr.value = livro.id;
                    tr.innerHTML = `
                    <td>${livro.id} </td>
                    <td>${livro.titulo|| '-'} </td>
                    <td>${livro.autor.nome|| '-'} </td>
                    <td>${livro.editora.nome|| '-'} </td>
                    <td>${livro.anoPublicacao|| '-'} </td>
                    <td>${livro.edicao|| '-'} </td>
                    <td>${livro.status|| '-'} </td>
                    <td>

                    <button class="detalhes" id = "detalhes" value = "${livro.id}">Detalhes</button>
                    <button class="editar" value = "${livro.id}">Editar</button>
                    <button class="btnExcluir" value= "${livro.id}">Excluir</button></td>
                `;
                    tr.dataset.livro = JSON.stringify(livro);
                    listaLivros.appendChild(tr);            
                });

                modal.style.display = 'none';

                listaLivros.addEventListener("click", function(event){
                    if (event.target.classList.contains("detalhes")){
                        const tr = event.target.closest("tr");
                        const livro = JSON.parse(tr.dataset.livro);

                        document.getElementById("tituloModal").textContent = livro.titulo || "-";
                        document.getElementById("autorModal").textContent = livro.autor.nome || "-";
                        document.getElementById("editoraModal").textContent = livro.editora.nome || "-";
                        document.getElementById("estadoConsModal").textContent = livro.estadoCons || "-";
                        document.getElementById("anoModal").textContent = livro.anoPublicacao || "-";
                        document.getElementById("isbnModal").textContent = livro.isbn || "-";
                        document.getElementById("edicaoModal").textContent = livro.edicao || "-";
                        document.getElementById("statusModal").textContent = livro.status || "-";
                        document.getElementById("obsModal").textContent = livro.obs || "-";


                        modal.style.display = 'block';
                    }
                });
            });

            closeModal.onclick = closeModal.onclick = () => {
                modal.style.display = 'none';
            }

            window.onclick = function(event) {
                if (event.target == modal){
                    modal.style.display = 'none';
                }
            }

        });

        document.addEventListener("click", function(event){
            if(event.target.classList.contains("editar")){
                const livroId = event.target.closest("tr").value;
                window.location.href = `editarLivro.html?id=${livroId}`;
            }

        });

        function excluirLivro(livroId, botao){
            fetch(`http://localhost:8080/livro/excluir/${livroId}`, {
                method: 'DELETE'
            })
            .then((res) => {
                if(res.ok){
                    alert("Livro excluído com sucesso!")
                    const linha = botao.closest("tr");
                    if (linha){
                        linha.remove();
                    }
                } else {
                    alert("Erro ao excluir. Esse livro já está associado a um empréstimo.");
                    return res.text().then((text) => {});
                }
            })
            .catch((error) => {
                console.error("Erro ao excluir o livro:", error);
            });
        }

        document
        .querySelector("tbody")
        .addEventListener("click", function(event){
            if(event.target.classList.contains("btnExcluir")){
                const livroId = event.target.getAttribute("value");
                excluirLivro(livroId, event.target);
            }
        })
        // document.addEventListener("DOMContentLoaded", function () {
        //     fetch('http://localhost:8080/livro/lista-livros')
        //         .then(response => response.json())
        //         .then(data => {
        //             console.log(data);
        //             var livros = document.getElementById("livros");

        //             const livro = document.createElement("tr");

        //             const titulo = document.createElement("td");
        //             titulo.textContent = data[0].titulo;

        //             const autorNome = document.createElement("td");
        //             autorNome.textContent = data[0].autor.nome;

        //             const anoPublicacao = document.createElement("td");
        //             anoPublicacao.textContent = data[0].anoPublicacao;

        //             livro.appendChild(autorNome);
        //             livro.appendChild(anoPublicacao);

        //             livros.appendChild(livro);
        //         })
        //         .catch(error => {
        //             console.error("Erro na requisição:", error);

        //         });
        // });


    </script>
    
</body>

</html>