<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Todos os autores</title>
    <link rel = "stylesheet" href = "styles.css">
</head>

<body>
    <div class = "content">
        <h1>Todos os Autores</h1>
        <div class = "searchbar">
            <input type="text" class="input-searchbar" id = "pesquisar" placeholder="Pesquisar autor..."/>
            <button type="submit" class="btn-search">Pesquisar</button>

            
        </div>

        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th>País</th>
                    <th>Ano de Nascimento</th>
                    <th>Ano de Falecimento</th>
                    <!-- <th>Livros cadastrados</th> -->
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id = "autores">
                <!-- Exemplo de linha de livro -->
                <tr>
                    <td>0</td>
                    <td>Machado de Assis</td>
                    <td>Rio de Janeiro</td>
                    <td>Brasil</td>
                    <td>1839</td>
                    <td>1908</td>
                    <!-- <td>10</td> -->
                    <td>
                        <a href="editarAutor.html">
                            <!-- <button class="btnAcoes">Detalhes</button> -->
                        </a>
                        <a href="editarAutor.html">
                            <button class="btnAcoes">Editar</button>
                        </a>
                        <button class="btnAcoes">Excluir</button>
                    </td>
                </tr>
                <!-- Adicione mais linhas conforme necessário -->
            </tbody>

    </div>
    
    <nav class = "barra-lateral">
    
        <h2 class = "menu" >Menu</h2>
        <ul>
            <li><a href = "cadastrarLivro.html">Cadastrar Livro</a></li>
            <li><a href = "cadastrarAutor.html">Cadastrar Autor</a></li>
            <li ><a href = "cadastrarEditora.html">Cadastrar Editora</a></li>
            <li><a href="cadastrarEmprestimo.html">Cadastrar Empréstimo</a></li>
            <li><a href="cadastrarCliente.html">Cadastrar Cliente</a></li>
            <li><a href = "listarLivros.html">Todos os Livros</a></li>
            <li><a href = "listarAutores.html">Todos os Autores</a></li>
            <li><a href = "listarEditoras.html">Todas as Editoras</a></li>
            <li><a href = "listarEmprestimos.html">Todos os Empréstimos</a></li>
        </ul>
        
        </div class = "btn-sair">
            <a href = "login.html" class="btn-sair">Sair</a>
        </div>
    </nav>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch('http://localhost:8080/autor/lista-autores')
                .then((response) => response.json())
                .then((data) => {
                    console.log(data);
                    let listaAutores = document.getElementById("autores");
                    
                    data.forEach((autor) => {
                        const tr = document.createElement("tr");
                        tr.value = autor.id;
                        tr.innerHTML = `
                    <td>${autor.id|| '-'} </td>
                    <td>${autor.nome|| '-'} </td>
                    <td>${autor.cidade|| '-'} </td>
                    <td>${autor.pais || '-'} </td>
                    <td>${autor.anoNasc || '-'} </td>
                    <td>${autor.anoFalesc || '-'} </td>
                    
                    <td>
                    <button class="editar">Editar</button>
                    
                    <button class="btnExcluir" value= "${autor.id}">Excluir</button></td>
                `;
                        listaAutores.appendChild(tr);

                });
            });
        });
        
        
        function excluirAutor(autorId, botao) {
            fetch(`http://localhost:8080/autor/excluir-autor/${autorId}`, {
                method: 'DELETE',
            })
            .then(response => {
                if(response.ok){
                    alert("Autor excluído com sucesso!");
                    const linha = botao.closest("tr")
                    if(linha){
                        linha.remove();
                    }
                } else{
                    alert("Erro ao excluir. Este autor está associado a um livro.");
                    return response.text().then((text) => {});
                }
            })
        }

        document
        .querySelector("tbody")
        .addEventListener("click", function (event){
            if(event.target.classList.contains("btnExcluir")){
                const autorId = event.target.getAttribute("value");
                excluirAutor(autorId, event.target);
            }
        });

        document.addEventListener("click", function(event){
            if(event.target.classList.contains("editar")){
                const autorId = event.target.closest("tr").value;
                window.location.href = `editarAutor.html?id=${autorId}`;
            }
        });
    </script>
</body>
</html>