<!DOCTYPE html>
<html lang = "pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Todas as Editoras</title>
    <link rel = "stylesheet" href = "styles.css">
</head>

<body>
    <div class = "content">
        <h1>Todas as Editoras</h1>
        <div class = "searchbar">
            <input type="text" class="input-searchbar" id = "pesquisar" placeholder="Pesquisar editora..."/>
            <button type="submit" class="btn-search">Pesquisar</button>

            
        </div>

        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>País</th>
                    <th>Cidade</th>
                    <th>CEP</th>
                    <th>Bairro</th>
                    <th>Rua</th>
                    <th>número</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id = "editoras">
                <!-- Exemplo de linha de editora -->
                <!-- <tr>
                    <td>0 </td>
                    <td>Companhia das Letras</td>
                    <td>Brasil</td>
                    <td>São Paulo</td>
                    <td>01234-567</td>
                    <td>Centro</td>
                    <td>Avenida Paulista</td>
                    <td>1000</td>
                    <td>
                        <a href="detalhesEditora.html">
                            <button class="btnAcoes">Detalhes</button> 
                        </a>
                        <a href="editarEditora.html">
                            <button class="btnAcoes">Editar</button>
                        </a>
                        <button class="btnAcoes">Excluir</button>
                    </td>
                </tr>  -->
            </tbody>

    </div>
    
    <nav class = "barra-lateral">
    
        <h2 class = "menu" >Menu</h2>
        <ul>
            <li><a href = "cadastrarLivro.html">Cadastrar Livro</a></li>
            <li><a href = "cadastrarAutor.html">Cadastrar Autor</a></li>
            <li ><a href = "cadastrarEditora.html">Cadastrar Editora</a></li>
            <li><a href="cadastrarEmprestimo.html">Cadastrar Empréstimo</a></li>
            <li><a href="cadastrarCliente.html">Cadastrar Cliente</a></li>
            <li><a href = "listarLivros.html">Todos os Livros</a></li>
            <li><a href = "listarAutores.html">Todos os Autores</a></li>
            <li><a href = "listarEditoras.html">Todas as Editoras</a></li>
            <li><a href = "listarEmprestimos.html">Todos os Empréstimos</a></li>
            
            
        </ul>
        </div class = "btn-sair">
            <a href = "login.html" class="btn-sair">Sair</a>
        </div>
    </nav>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch('http://localhost:8080/editora/lista-editoras')
                .then((response) => response.json())
                .then((data) => {
                    console.log(data);
                    let listaAutores = document.getElementById("editoras");
                    
                    data.forEach( (editora) => {
                        const tr = document.createElement("tr");
                        tr.value = editora.id;
                        tr.innerHTML = `
                    <td>${editora.id} </td>
                    <td>${editora.nome || '-'} </td>
                    <td>${editora.pais || '-'} </td>
                    <td>${editora.cidade || '-'} </td>
                    <td>${editora.bairro || '-'} </td>
                    <td>${editora.cep || '-'} </td>
                    <td>${editora.rua || '-'} </td>
                    <td>${editora.numero || '-'} </td>
                    <td>

                    <button class="editar">Editar</button>
                    <button class="btnExcluir" value= "${editora.id}">Excluir</button></td>
                `;
                        listaAutores.appendChild(tr);

                });
            });
        });

        document.addEventListener("click", function(event){
            if(event.target.classList.contains("editar")){
                const autorId = event.target.closest("tr").value;
                window.location.href = `editarEditora.html?id=${autorId}`;
            }
        });

        function excluirEditora(editoraId, botao){
            fetch(`http://localhost:8080/editora/excluir/${editoraId}`,{
                method: 'DELETE'
            })
            .then((res) => {
                if(res.ok){
                    alert("Editora excluída com sucesso!");
                    const linha = botao.closest("tr");
                    if(linha){
                        linha.remove();
                    }
                } else {
                    alert("Erro ao excluir. A editora está associada a um livro.");
                    return res.text().then((text) => {});
                }
            })
            .catch((error) => {
                console.error("Erro ao excluir a editora: ", error);
            })
        }

        document
        .querySelector("tbody")
        .addEventListener("click", function(event){
            if(event.target.classList.contains("btnExcluir")){
                const editoraId = event.target.getAttribute("value");
                excluirEditora(editoraId, event.target);
            }
        })
    </script>

</body>
</html>